<aside class="" id="sidebar">
  <ul class="navbar-navbar pl-2 pt-5 w-100">
    <li class="nav-item pb-2" id="mtSidebar">
      <a class="nav-link text-white" ui-sref="main.inicio" href="">
        <div class="d-inline">
          <i class="fas fa-home"></i>
        </div>
        <p class="d-inline pl-1">Inicio</p>
      </a>
    </li>
    <li class="nav-item dropright pb-2" id="mtSidebar">
      <a class="nav-link text-white dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="d-inline">
          <i class="fas fa-user-circle"></i>
        </div>
        <p class="d-inline pl-1">Mi perfil</p>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" ui-sref="main.perfil">Información</a>
        <div class="dropdown-divider" ng-if="vm.rolUsuario==5"></div>
        <a class="dropdown-item" ng-if="vm.rolUsuario==5" ui-sref="">Casillero</a>
      </div>
    </li>
    <li class="nav-item dropright pb-2" ng-if="vm.rolUsuario==1">
      <a class="nav-link text-white dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="d-inline">
          <i class="fas fa-user"></i>
        </div>
        <p class="d-inline pl-1">Usuarios</p>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" ui-sref="">Listar</a>
      </div>
    </li>
    <li class="nav-item dropright pb-2" ng-if="vm.rolUsuario==5">
      <a class="nav-link text-white dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="d-inline">
          <i class="fab fa-cc-visa"></i>
        </div>
        <p class="d-inline pl-1">Tarjetas</p>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" ui-sref="main.registrarTarjetas">Registrar</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" ui-sref="main.listarTarjetas">Listar</a>
      </div>
    </li>
    <li class="nav-item dropright pb-2" ng-if="vm.rolUsuario==4">
      <a class="nav-link text-white dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="d-inline">
          <i class="fas fa-id-card"></i>
        </div>
        <p class="d-inline pl-1">Licencias</p>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" ui-sref="main.licencia">Registrar</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" ui-sref="">Listar</a>
      </div>
    </li>
    <li class="nav-item dropright pb-2" ng-if="vm.rolUsuario==1||vm.rolUsuario==3">
      <a class="nav-link text-white dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="d-inline">
          <i class="fas fa-users"></i>
        </div>
        <p class="d-inline pl-1">Clientes</p>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" ui-sref="">Registrar</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" ui-sref="main.listarClientes">Listar</a>
      </div>
    </li>
    <li class="nav-item dropright pb-2" ng-if="vm.rolUsuario==1||vm.rolUsuario==2||vm.rolUsuario==3||vm.rolUsuario==4||vm.rolUsuario==5">
      <a class="nav-link text-white dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="d-inline">
          <i class="fas fa-box"></i>
        </div>
        <p class="d-inline pl-1">Paquetes</p>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" ng-if="vm.rolUsuario==5" ui-sref="main.prealerta">Prealertar</a>
        <div class="dropdown-divider" ng-if="vm.rolUsuario==5"></div>
        <a class="dropdown-item" ui-sref="main.listarPaquetes">Listar</a>
      </div>
    </li>
    <li class="nav-item dropright pb-3" ng-if="vm.rolUsuario==1">
      <a class="nav-link text-white dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="d-inline">
          <i class="fas fa-people-carry"></i>
        </div>
        <p class="d-inline pl-1">Aduana</p>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" ui-sref="main.registrarEncargado">Registrar encargado de aduana</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" ui-sref="">Listar encargados de aduana</a>
      </div>
    </li>
    <li class="nav-item dropright pb-3" ng-if="vm.rolUsuario==1">
      <a class="nav-link text-white dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="d-inline">
          <i class="fas fa-building"></i>
        </div>
        <p class="d-inline pl-2">Sucursales</p>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" ui-sref="main.registroSucursales">Registrar una sucursal</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" ui-sref="">Registrar encargado de sucursal</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" ui-sref="">Listar sucursales</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" ui-sref="">Listar encargados de sucursal</a>
      </div>
    </li>
    <li class="nav-item dropright pb-3" ng-if="vm.rolUsuario==1||vm.rolUsuario==3">
      <a class="nav-link text-white dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="d-inline">
          <i class="fas fa-motorcycle"></i>
        </div>
        <p class="d-inline pl-1">Repartidores</p>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" ui-sref="main.registrarRepartidor">Registrar</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" ui-sref="main.listarTodosLosRepartidores">Listar</a>
      </div>
    </li>
    <li class="nav-item dropright pb-3" ng-if="vm.rolUsuario==1">
      <a class="nav-link text-white dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="d-inline">
          <i class="fas fa-id-card-alt"></i>
        </div>
        <p class="d-inline pl-1">Convenios</p>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" ui-sref="main.registrarConvenio">Registrar</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" ui-sref="main.listaConvenios">Listar</a>
      </div>
    </li>
    <li class="nav-item dropright pb-3" ng-if="vm.rolUsuario==1">
      <a class="nav-link text-white dropdown-toggle" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <div class="d-inline">
          <i class="fas fa-truck-loading"></i>
        </div>
        <p class="d-inline pl-1">Logística</p>
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" ui-sref="main.registrarCarrier">Registrar</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" ui-sref="main.listarCarrier">Listar</a>
      </div>
    </li>
    <li class="nav-item pb-4">
      <a class="nav-link">
        <button class="btn btn-danger" type="button" ng-click="vm.cerrarSesion()">
          <i class="fas fa-power-off"></i>
          Cerrar sesión
        </button>
      </a>
    </li>
  </ul>
</aside>