#footer{
  font-family: montserrat, sans-serif;
  font-weight: 300;
  background: rgb(255, 255, 0);
  color: rgb(255, 255, 255);

  a{
    color: rgb(255, 255, 255);
  }

  #copyright{
    background: rgb(255, 255, 0);
  }
}