<main class="hero" id="listarHoteles">
  <div class="container fondoBLC">
    <section class="row">
      <div class="col-md-12">
        <h1 class="text-center my-5 pt-2">Lista de hoteles</h1>
      </div>
    </section>
    <button id="btn2" type="button" class="btn btn-secondary" ng-click="vm.regresar()">Regresar</button>
    <section class="row justify-content-center">
      <div class="col-md-12">
        <table class="table table-striped tablaHoteles">
          <thead>
            <tr>
              <th scope="col">#</th>
         
              <th scope="col"><button type="click" class="btn" ng-click="vm.ordenNombre()">
                  Nombre
                </button></th>
              <th scope="col">Provincia</th>
              <th scope="col">Cantón</th>
              <th scope="col">Distrito</th>
              <th scope="col">
                  <button type="click" class="btn" ng-click="vm.ordenRate()">
                      Valoracion
                    </button>
                </th>
              <th scope="col">Información</th>
              <th scope="col" ng-if="vm.rol==1">Acción</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="Hotel in vm.listaHoteles">
              <th scope="row">{{$index+1}}</th>
              <td>{{Hotel.nombreHotel}}</td>
              <td>{{Hotel.provincia}}</td>
              <td>{{Hotel.canton}}</td>
              <td>{{Hotel.distrito}}</td>
              <td><div id="trofeoOro" ng-if="Hotel.valoracion==5"> <img src="../../../sources/img/trofeoOro.png" alt="" srcset=""></div>
                  <div id="trofeoPlata" ng-if="Hotel.valoracion==4"> <img src="../../../sources/img/trofeoSilver.png" alt="" srcset=""></div>
                  <div id="trofeoBronce" ng-if="Hotel.valoracion==3"> <img src="../../../sources/img/trofeoBronce.png" alt="" srcset=""></div>
                  <div id="trofeoAzul" ng-if="Hotel.valoracion==2"> <img src="../../../sources/img/trofeoVerde.png" alt="" srcset=""></div>
                  <div id="trofeoRojo" ng-if="Hotel.valoracion==1"> <img src="../../../sources/img/trofeoNegro.png" alt="" srcset=""></div></td>
              <td>
                <button type="click" class="btn" ng-click="vm.consultar(Hotel.idHotel)">
                  Consultar
                </button>
              </td>
              <td ng-if="vm.rol==1">
                <button type="click" class="btn" ng-click="vm.desactivarHotel(Hotel)">
                  Desactivar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>

    <section class="row justify-content-center" ng-if="vm.rol==1">
      <div class="col-md-12">
        <h2 class="text-center">Hoteles desactivados</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre</th>
              <th scope="col">Provincia</th>
              <th scope="col">Cantón</th>
              <th scope="col">distrito</th>
              <th scope="col">valoracion</th>
              <th scope="col">fotoHotel</th>
              <th scope="col">Estado</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="Hotel in vm.listaHotelesDes">
              <th scope="row">{{$index+1}}</th>
              <td>{{Hotel.idHotel}}</td>
              <td>{{Hotel.provincia}}</td>
              <td>{{Hotel.canton}}</td>
              <td>{{Hotel.distrito}}</td>
              <td>{{Hotel.valoracion}}</td>
              <td>{{Hotel.fotoHotel}}</td>
              <td>{{Hotel.estadohotel}}</td>
              <td>
                <button type="click" class="btn" ng-click="vm.activarHotel(Hotel)">
                  Activar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
</main>
