<div id="body">
    <header id="headerLanding" class="col-sm-12 col-md-12 col-lg-12">
        <div class="container-fluid d-none d-md-block">
        </div>
    </header>
    <main>
        <div class="fondoBLC center">
            <div class="container" id="acerca">

                <h1>Hola {{vm.usuarioActivo.primerNombre}} {{vm.usuarioActivo.primerApellido}}</h1>
                <br>
                <h3>Gracias por ingresar a la página de Travelers Tours</h3>
                <br>
                <h3>Esta es una aplicacion web creada para la evaluación del examen final de proyecto web 1 del primer cuatrimestre del 2018 por el estudiante de diseño web Rudy Campos Badilla de la universidad de Cenfotec San Pedro de Montes de Oca</h3>
                <br>
                <h3>Travelers Tours es una empresa ficticia para la evaluación de diferentes hoteles y registro de clientes</h3>
                <br>

            </div>
            <div id="logoCenfotec">
                <img src="../../sources/img/cenfotec.png" alt="cenfotec" srcset="">
            </div>
        </div>
        <button id="btn2" type="button" class="btn btn-secondary" ng-click="vm.regresar()">Regresar</button>

    </main>
</div>
