<main class="container">

    <section class="row">
    
        <section class="col-md-12 my-5 mx-auto" id="container">
      
            <div class="py-3">
                <h1 class="py-2" id="title">Lista de encargados</h1>
                <p class="py-2" id="description"><span>Aqui</span> verá todos los encargados</p>
            </div>
      
            <div class="table-responsive row">
                <table class="table table-hover">
      
                    <thead>
                        <tr>
                            <th scope="col">Estado</th>
                            <th scope="col">Tipo de encargado</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Correo electrónico</th>
                            <th scope="col">Especial</th>
                            <th scope="col" colspan="2">Acción</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr ng-repeat="encargadosSucursal in vm.listarEncargadosSucursalAct">
                            <th>Activo</th>
                            <th>Encargado de sucursal</th>
                            <td>{{encargadosSucursal.primerNombre}}</td>
                            <td>{{encargadosSucursal.primerApellido}}</td>
                            <td>{{encargadosSucursal.correo}}</td>
                            <td>{{encargadosSucursal.sucursal}}</td>
                            <td>
                            <button type="button" class="btn btn-danger" ng-click="vm.editarEncargado(encargadosSucursal)">Editar</button>
                            </td>
                            <td>
                            <button type="button" class="btn btn-danger" ng-click="vm.cambiarEstado(encargadosSucursal)">Desactivar</button>
                            </td>
                        </tr>
        
                        <tr ng-repeat="encargadosAduana in vm.listarEncargadosAduanaAct">
                            <th>Activo</th>
                            <th>Encargado de aduana</th>
                            <td>{{encargadosAduana.primerNombre}}</td>
                            <td>{{encargadosAduana.primerApellido}}</td>
                            <td>{{encargadosAduana.correo}}</td>
                            <td>{{encargadosAduana.rolAduana}}</td>
                            <td>
                                <button type="button" class="btn btn-danger" ng-click="vm.editarEncargado(encargadosAduana)">Editar</button>
                            </td>
                            <td>
                                <button type="button" class="btn btn-danger" ng-click="vm.cambiarEstado(encargadosAduana)">Desactivar</button>
                            </td>
                        </tr>

                        <tr ng-repeat="encargadosSucursal in vm.listarEncargadosSucursalDesact">
                                <th>Desactivado</th>
                                <th>Encargado de sucursal</th>
                                <td>{{encargadosSucursal.primerNombre}}</td>
                                <td>{{encargadosSucursal.primerApellido}}</td>
                                <td>{{encargadosSucursal.correo}}</td>
                                <td>{{encargadosSucursal.sucursal}}</td>
                                <td>
                                <button type="button" class="btn btn-danger" ng-click="vm.cambiarEstado(encargadosSucursal)">Reactivar</button>
                                <td></td>
                                </td>
                            </tr>

                            <tr ng-repeat="encargadosAduana in vm.listarEncargadosAduanaDesact">

                                    <th>Desactivado</th>
                                    <th>Encargado de aduana</th>
                                    <td>{{encargadosAduana.primerNombre}}</td>
                                    <td>{{encargadosAduana.primerApellido}}</td>
                                    <td>{{encargadosAduana.correo}}</td>
                                    <td>{{encargadosAduana.rolAduana}}</td>
                                    <td>
                                        <button type="button" class="btn btn-danger" ng-click="vm.cambiarEstado(encargadosAduana)">Reactivar</button>
                                    </td>
                                    <td></td>
                                </tr>

                    </tbody>
      
              </table>
      
              <button type="button" class="btn btn-danger" ng-click="vm.agregarEncargado()">Agregar encargado</button>
      
            </div>
      
          </section>
      
        </section>
      
      </main>