<main class="hero" id="mainInicio">
    <div class="container fondoBLC">
  
      <section class="row">
        <div class="col-md-12">
          <h1 class="text-center my-5 pt-2">Menú principal</h1>
        </div>
      </section>
      <section class="row">
        <div class="col-md-4 d-flex justify-content-center">
          <a ui-sref="main.perfil">
            <div class="card" style="width: 15rem;">
              <img class="card-img-top" src="../../sources/img/miPerfil2.jpg" width="200px" height="200px" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center">Mi perfil</h5>
              </div>
            </div>
          </a>
        </div>
  
        <div class="col-md-4 d-flex justify-content-center" ng-if="vm.rolUsuario==1">
          <a ui-sref="main.registrarHotel">
            <div class="card" style="width: 15rem;">
              <img class="card-img-top" src="../../sources/img/Hoteles.jpg" width="200px" height="200px" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center">Registrar hotel</h5>
              </div>
            </div>
          </a>
        </div>
  
        <div class="col-md-4 d-flex justify-content-center" ng-if="vm.rolUsuario==1">
          <a ui-sref="main.registrarNuevoCliente">
            <div class="card" style="width: 15rem;">
              <img class="card-img-top" src="../../sources/img/Clientes.jpg" width="200px" height="200px" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center">Registrar cliente</h5>
              </div>
            </div>
          </a>
        </div>
  
        <div class="col-md-4 d-flex justify-content-center">
          <a ui-sref="main.listarHoteles">
            <div class="card" style="width: 15rem;">
              <img class="card-img-top" src="../../sources/img/Hoteles.jpg" width="200px" height="200px" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center">Hoteles</h5>
              </div>
            </div>
          </a>
        </div>
  
        <div class="col-md-4 d-flex justify-content-center" ng-if="vm.rolUsuario==1">
          <a ui-sref="main.listarClientes">
            <div class="card" style="width: 15rem;">
              <img class="card-img-top" src="../../sources/img/tourists.jpg" width="200px" height="200px" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center">Clientes</h5>
              </div>
            </div>
          </a>
        </div>
  
        <div class="col-md-4 d-flex justify-content-center">
          <a ui-sref="miPerfil">
            <div class="card" style="width: 15rem;">
              <img class="card-img-top" src="../../sources/img/Travelers_Tours.jpg" width="200px" height="200px" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title text-center">Travelers Tours</h5>
              </div>
            </div>
          </a>
        </div>
  
  
        <a class="nav-link">
          <button class="btn btn-danger" type="button" ng-click="vm.cerrarSesion()">
            <i class="fas fa-power-off"></i>
            Cerrar sesión
          </button>
        </a>
  
      </section>
    </div>
  </main>