<main class="hero" id="mainInicio">
  <div class="container">

    <section class="row">
      <div class="col-md-12">
        <h1 class="text-center my-5 pt-2">Correos de Costa Rica</h1>
      </div>
    </section>
    <section class="row">
      <div class="col-md-4 d-flex justify-content-center">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="sources/img/avatar.jpeg" width="200px" height="200px" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Ahorra tiempo en tus envios:</h5>
            <p class="card-text text-center">Pregunte por nuestros servicios diseñados de acuerdo a los requerimientos de su empresa.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="sources/img/avatar.jpeg" width="200px" height="200px" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Consulta las tarifas de correos:</h5>
            <p class="card-text text-center">Consulta las tarifas de todos los productos y servicios de Correos de Costa Rica.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <div class="card" style="width: 15rem;">
          <img class="card-img-top" src="sources/img/puertaApuerta.jpg" width="200px" height="200px" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title text-center">Servicio puerta a puerta</h5>
            <p class="card-text text-center">Somos especialista en el reparto Puerta a Puerta ya sea en entregas personales, de comercio u oficinas.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>