#fondoLanding {
    padding-top: 4%;
    background-image: url('../img/landing.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
}

#login {
    padding: 5% 0%;
    margin-bottom: 10%;
}

#btn-login {
    background-color: rgb(85, 228, 85);
}

#nuevoUsuario {
    background-color: rgba(255, 255, 255, 0.6);
    margin: 20% 15%;
    padding: 4%;
    color: #000;
    font-weight: 450;
    border-radius: 5%;
}

#underlanding {
    text-align: center;
    margin-top: 10%;
    padding: 3%;
    background-color: rgb(255, 253, 225);
}

#elemento-underlanding {
    padding: 3%;
}

#underlanding h2 {
    padding: 1em;
}

#underlanding h4 {
    padding: 1em;
}

#registrarCliente input, #registrarCliente select {
    border-width: 2px;
}

#registrarCliente input:hover, #registrarCliente select:hover{
    border-color: rgb(85, 228, 85);
    border-width: 2px;
}

#footer-lista li {
    float: left;
}
