<navegacion-Principal></navegacion-Principal>
<div id="body">
  <header id="headerLanding" class="col-sm-12 col-md-12 col-lg-12">
    <div class="container-fluid d-none d-md-block">
    </div>
  </header>
  <main>
    <div id="fondoLanding">
      <div class="container" id="login">
        <div class="row mt-5" id="texto">
          <div class="col-md-4">

          </div>
          <div class="col-md-4">

            <form class="mt-5" name="frmInicioSesion" ng-submit="vm.iniciarSesion(vm.usuario)">
              <div class="form-group">
                <input type="email" class="form-control" id="txtCorreo" ng-model="vm.usuario.correo" placeholder="Correo de usuario">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" id="txtContrasenna" ng-model="vm.usuario.contrasenna" placeholder="Contraseña">
              </div>

              <div class="text-center px-5">
                <button id="btn-login" type="submit" class="btn btn-lg btn-block" id="bntIngresar">ingresar
                </button>
              </div>
            </form>
            <div id="nuevoUsuario">
              <div class="">
                <p class="text-center p-2">¿ Nuevo con nosotros ?</p>
              </div>
              <div class="text-center">
                <a ui-sref="registrarCliente">Crear tu cuenta</a>
              </div>
            </div>
          </div>
          <div class="col-md-4">

          </div>
        </div>



      </div>
      <section id="underlanding" class="mt-5">
        <div>
          <h2>
            Te ofrecemos las mejores opciones de hoteles en Costa Rica
          </h2>

          <div class="row">
            <div id="elemento-underlanding" class="col-md-4 justify-content-center">
              <h4>Encuentra tu hotel ideal</h4>
              <img src="../../sources/img/hotel.png" alt="hotel" srcset="">
            </div>
            <div id="elemento-underlanding" class="col-md-4 justify-content-center">
              <h4>Disfruta tus vacaciones</h4>
              <img src="../../sources/img/cocktail.png" alt="playa" srcset="">
            </div>
            <div id="elemento-underlanding" class="col-md-4 justify-content-center">
              <h4>Los mejores hoteles</h4>
              <img src="../../sources/img/best-seller.png" alt="mejor-opcion" srcset="">
            </div>
          </div>
        </div>

      </section>
    </div>
  </main>
</div>
<footer-Principal></footer-Principal>